.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("https://i.imgur.com/q8H5Apo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  /* font-family: "Open Sans" */
}
.masthead h2, .masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1, .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1, .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2, .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}
.btn-primary {
  background-color: red;
  border: none;
}
.btn-primary:hover {
background-color: rgb(194, 0, 0);
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
#new-collection {
  background: url("https://i.imgur.com/Jdgh3pX.jpg");
  background-repeat: no-repeat;
  background-size: contains;
  background-color:#080808;
  background-position: center;
  min-height: 360px;
}
#personal-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
/* flex wrap allows  */
.about-section {
  padding-top: 15rem;
  background-color:#080808
  /*background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);*/
}
.about-section p {
  margin-bottom: 5rem;
}
.card {
border: 1px solid #ccc;
width: 300px;
height: 400px;
padding: 20px;
text-align: center;
background-image: url("https://i.imgur.com/gUWeMoF.jpg");
background-position: center;
color: white;
}
.card img {
width: 25%;
display: block;
margin: 0 auto;
}
.card h1, h2, h3, h4, h5 ,h6 {
font-size: medium;
}